@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
  width: 530px;
  margin: auto;
}

.background {
  width: 100%;
  position: absolute;
  height: 100%;
  display: -ms-grid;
  display: grid;
  z-index: -1;
}

.background img {
  width: inherit;
  max-width: 500px;
  max-height: 342px;
}

.background img:last-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.desktop {
  display: none;
}

header {
  color: #502050;
  text-align: center;
}

header h2 {
  max-width: 11ch;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

header p {
  margin-bottom: 2rem;
  font-size: 15px;
}

section.ratings .rating {
  width: 100%;
  background-color: #f7f2f7;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}

section.ratings .rating .stars {
  display: block;
  background-image: url(./../images/icon-star.svg);
  background-repeat: space round;
  width: 140px;
  height: 22px;
  margin: auto;
  margin-bottom: 0.8rem;
}

section.ratings .rating p {
  font-weight: 700;
}

main {
  margin-top: 2rem;
}

.card {
  background-color: #502050;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  color: white;
}

.card .personInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.card .personInfo img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.card .personInfo .verify {
  color: #ee68a4;
}

.card blockquote {
  font-weight: 200;
  font-size: 0.9rem;
  margin: 1.5rem 0;
  line-height: 1.4rem;
  letter-spacing: 0.025rem;
}

@media (min-width: 1024px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-width: 100%;
    max-width: 1230px;
    margin: auto;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .background img:first-child {
    max-width: 37%;
  }
  .background img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 80%;
  }
  header {
    text-align: left;
  }
  header h2 {
    margin-left: unset;
    font-size: 3rem !important;
    line-height: 0.9;
  }
  header p {
    padding-right: 2rem;
    font-size: 22px;
    max-width: 40ch;
  }
  section.ratings {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section.ratings .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  section.ratings .rating div, section.ratings .rating p {
    display: inline-block !important;
  }
  section.ratings .rating div {
    margin: 0 !important;
  }
  section.ratings .rating:nth-child(1) {
    margin-right: 8rem;
  }
  section.ratings .rating:nth-child(2) {
    margin-right: 3rem;
  }
  section.ratings .rating:nth-child(3) {
    margin-right: 0rem;
  }
  main {
    grid-column: 1/-1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .card {
    max-height: 230px;
  }
  .card:nth-child(2) {
    margin-top: 1rem;
  }
  .card:nth-child(3) {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */