$clr-Dark-Magenta: hsl(300, 43%, 22%);
$clr-Pink: hsl(333, 80%, 67%);

$clr-Grayish-Magenta: hsl(303, 10%, 53%);
$clr-Light-Grayish-Magenta: hsl(300, 24%, 96%);
$clr-White: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    min-height: 100vh;
    position: relative;
    width: fit-content;
}

.wrapper {
    padding-left: .6rem;
    padding-right: .6rem;
    width: 530px;
    margin: auto;
}

.background {
    width: 100%;
    position: absolute;
    height: 100%;
    display: grid;
    z-index: -1;
    img {
        width: inherit;
        max-width: 500px;
        max-height: 342px;
        &:last-child {
            align-self: end;
            justify-self: end;
        }
    }
    
}

.desktop {
    display: none;
}

header {
    color: $clr-Dark-Magenta;
    text-align: center;
    h2 {
        max-width: 11ch;
        margin: auto;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    p {
        margin-bottom: 2rem;
        font-size: 15px;
    }
}

section.ratings {
    .rating {
        width: 100%;
        background-color: $clr-Light-Grayish-Magenta;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        text-align: center;
        .stars {
            display: block;
            background-image: url(./../images/icon-star.svg);
            background-repeat: space round;
            width: 140px;
            height: 22px;
            margin: auto;
            margin-bottom: 0.8rem;
        }
        p {
            font-weight: 700;
        }
    }
}

main {
    margin-top: 2rem;
}

.card {
    background-color: $clr-Dark-Magenta;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1.5rem;
    color: $clr-White;
    

    .personInfo {
        display: grid;
        grid-template-columns: 50px 1fr;
        align-items: center;
        gap: 1rem;

        img {
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }

        .verify {
            color: $clr-Pink;
        }
    }

    blockquote {
        font-weight: 200;
        font-size: 0.9rem;
        margin: 1.5rem 0;
        line-height: 1.4rem;
        letter-spacing: 0.025rem;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 100%;
        max-width: 1230px;
        margin: auto;
    }
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .background {
        img:first-child {
            max-width: 37%;
        }

        img:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 80%;
        }
    }
    

    header {
        text-align: left;
        h2 {
            margin-left: unset;
            font-size: 3rem !important;
            line-height: 0.9;
        }
        p {
            padding-right: 2rem;
            font-size: 22px;
            max-width: 40ch;
        }
    }

    section.ratings {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .rating {
            display: flex;
            padding: 1.5rem;
            align-items: flex-end;
            gap: 2rem;
            width: max-content;

            div, p{
                display: inline-block !important;
            }
            div {
                margin: 0 !important;
            }
            &:nth-child(1) { margin-right: 8rem;}
            &:nth-child(2) { margin-right: 3rem;}
            &:nth-child(3) { margin-right: 0rem;}
        }
    }

    main {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .card {
        &:nth-child(2) { margin-top: 1rem;}
        &:nth-child(3) { margin-top: 2rem;}

        max-height: 230px;
    }
}
